/* NOT IMPORTANT - COSMETICS */
* {
  /* margin: 0;
  padding: 0; */
  font-family: arial, sans-serif;
  box-sizing: border-box;
  /* width: 100%;
  height: 100%; */
}

/* #demoTable {
  border-collapse: collapse;
}
#demoTable tr:nth-child(odd) {
  background: #f2f2f2;
}
#demoTable td {
  padding: 10px;
} */

#box1 {
  border: 1px solid blue;
  width: 100px;
  height: 100px;
}

#box2 {
  border: 1px solid red;
  width: 100px;
  height: 100px;
}

/*TABLE*/
/* prettier-ignore */
li { list-style: none; }
/* prettier-ignore */
li:before { content: '✓ '; }
/* prettier-ignore */
#excelTable { position: absolute; width: auto; height: auto; }
/* prettier-ignore */
input { border: none; width: 80px; font-size: 14px; padding: 2px; }
/* prettier-ignore */
input:hover { background-color: #eee; }
/* prettier-ignore */
input:focus { background-color: #ccf; }
/* prettier-ignore */
input:not(:focus) { text-align: right; }
/* prettier-ignore */
table { border-collapse: collapse; position: relative; }
/* prettier-ignore */
td { border: 1px solid #999; padding: 0; }
/* prettier-ignore */
tr:first-child td,
td:first-child { background-color: #ccc; padding: 1px 3px; font-weight: bold; text-align: center; }
/* prettier-ignore */
footer { font-size: 80%; }

/* prettier-ignore */
#left, #right1, #right2, #right3, #right4 {
  width:60px;height:60px;border:1px solid gray;
}
