/* NOT IMPORTANT - COSMETICS */
/* prettier-ignore */
* { margin: 0; padding: 0; font-family: arial, sans-serif; box-sizing: border-box;
  width: 100%; height: 100%; }
/* prettier-ignore */
.box {  width: 100px; height: 100px; background-color: white; position: relative; 
  display:flex; justify-content:center; align-items:center; }
/* prettier-ignore */
.box:hover { cursor: grab; }
/* prettier-ignore */
.box:active { cursor: grabbing; z-index:5; }
/* prettier-ignore */
.active { border: 3px solid green !important; }

/* prettier-ignore */
#box1 { border: 1px solid blue; }
/* prettier-ignore */
#box2 { border: 1px solid red; }
/* prettier-ignore */
#box3 { border: 1px solid green; }
/* prettier-ignore */
#box4 { border: 1px solid orange }

/* prettier-ignore */
#table2 {margin-left:2rem; padding: 2rem; width:15rem; height: auto;border-collapse: collapse; position: absolute;}
/* prettier-ignore */
#table2 input { border: none; width: 80px; font-size: 14px; padding: 2px; }
/* prettier-ignore */
#table2 input:hover { background-color: #eee; cursor: grab; }
/* prettier-ignore */
#table2 input:focus { background-color: #ccf; }
/* prettier-ignore */
#table2 input:not(:focus) { text-align: right; }
/* prettier-ignore */
#table2 td { border: 1px solid #999; padding: 0; }
/* prettier-ignore */
#table2 tr:first-child td,td:first-child { background-color: #ccc; padding: 1px 3px; 
  font-weight: bold; text-align: center; }
/* prettier-ignore */
#table2 tr:nth-child(odd) { background: #f2f2f2; }

#export {
  width: 200px;
  height: auto;
  margin-bottom: 2rem;
}
